<div class="condition">
  <p class="c-black f-500">Basic Text Feilds with different sizes by height and column.</p>

  <div class="form-group">
    <div class="fg-line">
      <input type="text" class="form-control input-sm" placeholder="Input Small">
    </div>
  </div>

  <div class="form-group">
    <div class="fg-line">
      <input type="text" class="form-control" placeholder="Input Default">
    </div>
  </div>

  <div class="form-group">
    <div class="fg-line">
      <input type="text" class="form-control input-lg" placeholder="Input Large">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-4">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-4">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-4">
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-3">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-3">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-3">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-3">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-6">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" placeholder="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <br>
  <p class="m-b-25 m-t-25 c-black f-500">Floating Label - Floating animation for label when Input feild is active.</p>

  <div class="form-group fg-float">
    <div class="fg-line">
      <input type="text" class="input-sm form-control fg-input">
    </div>
    <label class="fg-label">Input Small</label>
  </div>

  <div class="form-group fg-float">
    <div class="fg-line">
      <input type="text" class="form-control fg-input">
    </div>
    <label class="fg-label">Input Default</label>
  </div>

  <div class="form-group fg-float">
    <div class="fg-line">
      <input type="text" class="input-lg form-control fg-input">
    </div>
    <label class="fg-label">Input Large</label>
  </div>

  <br>
  <p class="m-b-25 m-t-25 c-black f-500">Input Status - Focused and Disabled</p>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="fg-line">
          <input type="text" class="form-control" value="This is Focused">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="fg-line disabled">
          <input type="text" class="form-control" value="This is Disabled">
        </div>
      </div>
    </div>
  </div>
</div>
