<div class="condition">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group fg-float has-error">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.officePhone">
        </div>
        <label class="fg-label">办公电话</label>
        <!-- <small class="help-block">This is an error help block</small> -->
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.homePhone">
        </div>
        <label class="fg-label">家庭电话</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.foreignMobile">
        </div>
        <label class="fg-label">国外手机</label>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.domesticMobile">
        </div>
        <label class="fg-label">国内手机</label>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.fax">
        </div>
        <label class="fg-label">传真</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.email">
        </div>
        <label class="fg-label">E-mail</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.qq">
        </div>
        <label class="fg-label">QQ</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.wechat">
        </div>
        <label class="fg-label">微信</label>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.assistantName">
        </div>
        <label class="fg-label">助理名称</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.assistantMobile">
        </div>
        <label class="fg-label">助理手机</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.assistantEmail">
        </div>
        <label class="fg-label">助理邮箱</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.otherContactInfo">
        </div>
        <label class="fg-label">其他联系方式</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.foreignContactAddr">
        </div>
        <label class="fg-label">国外通信地址</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.foreignMailCode">
        </div>
        <label class="fg-label">国外邮编</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.domesticContactAddr">
        </div>
        <label class="fg-label">国内通信地址</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group fg-float">
        <div class="fg-line">
          <input type="text" class="input-sm form-control fg-input" data-ng-model="qf.contact.domesticMailCode">
        </div>
        <label class="fg-label">国内邮编</label>
      </div>
    </div>
  </div>
</div>
